html {
    font-size: 62.5%;
    font-family: 'OpenSans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    position: sticky;
    top: 0;
    border-bottom: 1px solid #E2E8F0;
    background: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

#Logo {
    height: 120px;
    margin: 8px;
}

@media only screen and (max-width: 978px) {
    #Logo {
        height: 24px;
    }
    a.Logo {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 480px) {
    #Logo {
        height: 32px;
    }
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 978px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #FFFFFF;
        border-radius: 0px;
        text-align: center;
        transition: 0.3s;
        /*box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);*/
        z-index: 1;
    }

    .nav-menu.active {
        left: 0;
        width: 100%;
        padding-left: 0px;
        background-color: white;
    }
}

@media only screen and (max-width: 480px) {
  .nav-menu {
    position: fixed;
    top: 5.8rem;
  }
}

.nav-item {
    margin-left: 3rem;
}

.nav-link{
    font-size: 16px; /*was 1.6rem*/
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 2px;
}

.nav-link:hover{
  color: #000000;
  border-bottom: solid 4px #C0D860;
}

@media only screen and (max-width: 480px) {
  .nav-link {
    font-size: 20px;
    line-height: 24px;
  }
}

.nav-link-order {
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration-line: none;
  color: #000000;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  border-radius: 8px;
}

.nav-link-order:hover {
  color: #FFFFFF;
  background-color: black;
}

.nav-link-orderActive {
  color: #000000;
  border-bottom: solid 4px #003300;
  text-decoration-line: none;
  padding-bottom: 2px;
  margin-left: 24px;
}

.SocialIcons {
  float: right;
  width: 44px;
}

.SocialIcons:hover {
  cursor: pointer;
}

@media only screen and (max-width: 978px) {
    .nav-item {
        margin: 2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-link {
        font-weight: 600;
    }

    .SocialIcons {
      float: right;
      margin-top: -13px;
      width: 44px;
    }

    .SocialIcons:hover {
      cursor: pointer;
    }
}

a.image:hover {
  cursor: pointer;
  box-shadow: 0 0 0px rgba(33,33,33,.4);
}

body {
  background-color: #f7f7f7;
  font-family: 'OpenSans', sans-serif;
  /*min-width: 600px;*/
  margin: 0px;
  padding: 0px;
}

.HeroImage {
  width: 100%;
  /*min-width: 375px;*/
}

b {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0 0 1em 0;
}

.wrapper {
  width: 450px;
  border: 2px dotted #999;
}

.Entire-DMA-Content-Including-Padding {
  margin-top: 24px;
}

.DMA {
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .DMA {
    border-radius: 0px;
  }
}

.DMA:hover {
  cursor: pointer;
}

.DMA-Images {
  width: 100%;
  border-radius: 8px;
}

.DMA-Images:hover {
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(33,33,33,.4);
}

@media only screen and (max-width: 480px) {
  .DMA-Images:hover {
    border-radius: 0px;
  }
}

.DMA-Content {
  display: flex;
  flex-direction: column;
}

.Drinks-Content {
  display: flex;
  flex-direction: column;
}

.Our-Top-Drinks-Title {
  align-items: center;
  align-content: center;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media only screen and (max-width: 978px) {
    .Our-Top-Drinks-Title {
      font-size: 24px;
      line-height: 32px;
    }
}

@media only screen and (max-width: 480px) {
    .Our-Top-Drinks-Title {
      font-size: 20px;
      line-height: 32px;
      padding-top: 0px;
      padding-bottom: 5%;
    }
}

.Our-Top-Drinks-Images {
  border-radius: 20px 20px 0px 0px;
}

.DMAs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}

.Top-Drinks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}

.Top-Drinks-mobile{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  display: none;
}

@media only screen and (max-width: 1030px) {
    .Top-Drinks {
        margin-left: 5%;
        margin-right: 5%;
    }

    .DMAs {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media only screen and (max-width: 978px) {
    .Top-Drinks {
        margin-left: 10%;
        margin-right: 10%;
    }

    .DMAs {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 480px) {
    .DMAs {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
    }

    .Top-Drinks {
        display: none;
    }

    .Top-Drinks-mobile {
        display: flex;
        flex-direction: row;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }

    .Top-Drink-Item {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .DMA-Container {
        margin-left: 0%;
        margin-right: 0%;
    }

}

.Top-Drink-Item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  width: 100%;
}

.DMA-Container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  width: 100%;
}

.Top-Drink-Item > * {
  flex: 1 1 250px;
  margin: 10px;
}

.DMA-Container > * {
  flex: 1 1 250px;
  margin: 10px;
}

@media only screen and (max-width: 480px) {
    .Top-Drink-Item > * {
        margin: 0px;
    }
}

@media only screen and (max-width: 480px) {
    .DMA-Container > * {
        margin: 0px;
    }
}

.Our-Top-Drinks {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.DMA-item {
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.Top-Drink-Title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

@media only screen and (max-width: 480px) {
    .Top-Drink-Title{
        font-size: 12px;
        line-height: 16px;
    }
}

.footer {
 bottom: 0;
/* background-color: #C0D860;*/
/* background-color: #799149;*/
 background-color: #111111;
 color: white;
 padding-top: 40px;
 padding-bottom: 48px;
 padding-left: 10%;
 padding-right: 10%;
 display: flex;
 flex-direction: column;
 margin-top: 40px;
}

.footer-content-1 {
 display: grid;
 grid-template-columns: 100%;
 margin-bottom: 24px;
}

.footer-content-logo {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.footer-logo {
  position: relative;
  width: 80px;
  float: right;
}

.footer-content-2 {
 display: grid;
 /*grid-template-columns: 33.33% 33.33% 33.33%;*/
 grid-template-columns: 30% 40% 30%;

}

.footer-content-left {
 display: flex;
 flex-direction: column;
 text-align: left;
}

.footer-content-center {
 display: flex;
 flex-direction: column;
 text-align: center;
 padding-left: 20%;
 padding-right: 20%;
}

.footer-content-right {
 display: flex;
 flex-direction: column;
 text-align: right;
}

.footer-header-text {
 font-size: 16px;
 line-height: 24px;
 font-weight: 800;
 align-items: center;
}

.footer-body-text-left {
 font-size: 14px;
 line-height: 18px;
 font-weight: 400;
}

.footer-body-text-2-columns {
 font-size: 14px;
 line-height: 18px;
 font-weight: 400;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.footer-body-text-left-left {
 font-size: 14px;
 line-height: 18px;
 font-weight: 400;
 text-align: left;
}


.footer-body-text-left-right {
 font-size: 14px;
 line-height: 18px;
 font-weight: 400;
 text-align: right;
}

.footer-body-text-right {
 font-size: 14px;
 line-height: 18px;
 font-weight: 400;
}

a.footer-link {
    color: white;
}

.footer-address {
    color: white;
}

/**@media only screen and (min-width: 1024px) {
    .footer-content-center {
        padding-left: 30%;
        padding-right: 30%;
    }
}**/

@media only screen and (max-width: 820px) {
  .footer-content-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 16%;
    padding-right: 16%;
    }
}

@media only screen and (min-width: 769px) {
  .header {
    z-index: 1;
  }
}

@media only screen and (max-width: 632px) {
    .footer-content-left {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .footer-content-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-content-left {
        padding-bottom: 16px;
    }
    .footer-content-center {
        padding-bottom: 16px;
    }
    .footer-content-right {
        text-align: center;
    }
}

.image-full{
   display:block;
  }

 .image-tablet{
  display:none;
 }

 .image-mobile{
  display:none;
 }

@media only screen and (max-width: 768px) and (min-width: 481px) {
  .header {
    z-index: 1;
  }

  .image-full {
   display:none;
  }

  .image-tablet {
   display:block;
  }

  .image-mobile {
   display:none;
  }

  .footer-content-left {
    text-align: center;
  }

  .footer-content-center {
    min-width: 200px;
  }

}

@media only screen and (max-width: 480px) {
  .header {
    z-index: 1;
  }

  .image-full {
   display:none;
  }

  .image-tablet {
   display:none;
  }

  .image-mobile {
   display:block;
  }

  .DMA-Images {
    border-radius: 0px;
  }

  .footer {
    padding-top: 16px;
    padding-bottom: 24px;
  }

  .footer-logo {
    width: 80px;
  }

  .footer-content-1 {
    margin-bottom: 16px;
  }
  

  .footer-content-left {
    text-align: center;
  }

  .footer-content-center {
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
  }

  .footer-content-right {
    text-align: center;
  }

  .footer-header-text {
   font-size: 14px;
   line-height: 20px;
   font-weight: 800;
  }

  .footer-body-text-left {
     font-size: 12px;
     line-height: 20px;
     font-weight: 400;
  }

  .footer-body-text-2-columns {
    min-width: 159px;
  }

  .footer-body-text-left-left {
     font-size: 12px;
     line-height: 20px;
     font-weight: 400;
     padding-right: 2%;
  }

    .footer-body-text-left-right {
     font-size: 12px;
     line-height: 20px;
     font-weight: 400;
  }

  .footer-body-text-right {
     font-size: 12px;
     line-height: 20px;
     font-weight: 400;
     text-align: center;
  }

}






